@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.bg {
  background-image: url("/lightbg.jpg");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dark body {
  background-image: none;
  background-color: black;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


@keyframes scaleBounce {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.animate-scaleBounce {
  animation: scaleBounce 0.4s ease-in-out;
}
